{% extends 'base.html.twig' %}

{% block title %}Movie list{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ global_author }} - {{ app_name }} ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/jhemesferreira/Bureau/Jhemes/études/symfony/movies/src/Controller/MovieController.php'|file_link(0) }}">src/Controller/MovieController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/jhemesferreira/Bureau/Jhemes/études/symfony/movies/templates/movie/index.html.twig'|file_link(0) }}">templates/movie/index.html.twig</a></code></li>
    </ul>
    </div>
{% endblock %}
